/Distr
/AlgoritmDM/Com/LicLib
/AlgoritmDM/Com/Lic.cs
/AlgoritmDM/FLic.cs
/AlgoritmDM/FLic.Designer.cs
/AlgoritmDM/bin/Debug/AlgoritmDM.exe.config
/AlgoritmDM/bin/Debug/AlgoritmDM.pdb
/AlgoritmDM/bin/Debug/AlgoritmDM.exe