/Distr
/AlgoritmDM/Com/LicLib
/AlgoritmDM/Com/Lic.cs
/AlgoritmDM/FLic.cs
/AlgoritmDM/FLic.Designer.cs
/AlgoritmDM/bin/Debug/*.exe
/AlgoritmDM/bin/Debug/*.dll
/AlgoritmDM/bin/Release/*.exe
/AlgoritmDM/bin/Release/*.dll