<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Algoritm_Export Version="3" DefColSpan="\t" DefRowSpan="\r\n" ProviderTyp="Oracle" ConnectionString="USER ID=reportuser;DATA SOURCE=rproods;PASSWORD=report">
  <Lic>
    <Key MachineName="DESKTOP-U90R055" UserName="AKS_Admin" ValidToYYYYMMDD="20190405" LicKey="7HZ-7JP-7JL-7JF-7JR-7JH-7JZ-7L0-7L3-7LB-7LC-7KX-7LG-7L9-7K3-7LC-7LC-7LB-7LC-7L8-7JH-7JM-7JI-7JD-7JT-7JK-7JM-7JC-7JP-7JH-7K3-7LA-7L1-7LE-7LJ-7L3-7LA-7L1" HashUserOS="False" />
    <Key MachineName="DESKTOP-U90R055" UserName="AKS_Admin" ValidToYYYYMMDD="20210202" LicKey="603-61R-61P-61P-61V-61J-623-63A-637-63D-63G-637-63K-63B-627-63M-63G-63D-63G-63I-61L-61O-61M-61O-61P-61M-61O-61M-61Q-61J-627-63K-635-63G-63N-63D-63E-633" HashUserOS="False" />
  </Lic>
  <Workflows>
    <Workflow LongName="Покупатели" ShortName="customer" FILE_PATH_FOR_EXEL="c:\docs\clients_list.xlsx" HachColName="True"> Select 'select 
c.cust_id as номер_клиента,
c.last_name as Фамилия, 
c.first_name as Имя, 
ca.PHONE1 as Телефон,
ak.VIP as VIP,
ca.ADDRESS4 as Бонус_процент,
c.FST_SALE_DATE as первая_продажа,
c.LST_SALE_DATE as послед_покупка,
c.CUST_SID as SID_клиента,
c.CREATED_DATE  as дата_созд,
ak.CALL_OFF_SC as Бонусный_счет
From cms.customer c 
inner join cms.cust_address ca on c.CUST_SID = ca.cust_sid 
left join AKS.CUST_SC_PARAM ak on c.CUST_SID = ak.CUST_SID
 where  c.ACTIVE=1 and ca.PHONE1 like ''%+7%'' and ca.address4 is not null
  group by c.CUST_ID, c.last_name, c.first_name, ca.PHONE1, ak.VIP, ca.ADDRESS4, c.FST_SALE_DATE , c.LST_SALE_DATE, c.CUST_SID, c.CREATED_DATE, ak.CALL_OFF_SC
 order by c.last_name' As QUERY, 'Clients' As LIST_NAME, 'c:\docs\clients_list.dat'As FILE_PATH, 'true'  as "Append", '\t' As COL_SPAN, '\r\n' As ROW_SPAN 
From dual </Workflow>
  </Workflows>
</Algoritm_Export>